
.app-container {
  display: flex;
  gap: 20px;
  height: 80vh; 
}




.flow-editor {
  flex: 1;
  position: relative;
  height: 100%; 
}

.flow-canvas {
  height: 100%;
  width: 100%;
  min-height: 500px; 
  overflow: hidden; 
}

.react-flow__viewport {
  overflow: visible !important;
}

